html {
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/img/bg.jpeg");
	background-position: center;
	background-size: cover;
	color: white;
	font-family: "Menlo", "Meslo LG", monospace;
	text-align: justify;
}
body {
	padding: 15% 30% 0px 30%;
	overflow: hidden;
}
h2 {
	margin: 0px;
}
.yeah {
	margin: 0px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
}

.bottom {
	padding: 45% 0% 0% 15%;

}
.colour3 {
	color: #6aba8f;
	}

a:visited {
	color: white;
}
a:link {
	color: white;
}
a:hover {
	opacity: 0.7;
}
a {
	transition: 0.2s;
	text-decoration: none;
}
img:hover {
	opacity: 0.8;
	transition: 0.2s;
}


/* 	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */